body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #000;
}

#root,
main {
  width: 100% !important;
  height: 100% !important;
}

canvas {
  width: 100%;
  height: 100%;
}
